*.h filter=crtext
*.c filter=crtext
*.md filter=crtext
help/sed filter=crtext
Makefile filter=crtext
makefilegs filter=crtext
*.in filter=crtext
*.sed filter=crtext
*.out filter=crtext
rungs filter=crtext
runallgs filter=crtext
